<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Guilherme Berlintes", "https://www.facebook.com/guilherme.berlintes", class: "text-white" %> </small>
  </div>
</footer>
